#jatekadat
{
    display: none;
}
#befejez
{
    display: none;
}
body
{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: bold;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}
h1 span
{
    background-color:rgba(158, 180, 180, 0.7);
    background-attachment: fixed;
    background-size: auto;
    border: solid black 5px;
    border-radius: 5%;
    padding: 2%;
}
#cs1Pont
{
    margin-right: 3%;
}
#cs2Pont
{
    margin-left: 3%;
}

h2 span
{
    background-color: rgba(104, 137, 137, 0.7);
    background-attachment: fixed;
    background-size: auto;
    border: solid black 5px;
    border-radius: 5%;
    padding: 2%;
}
h3
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
main
{
    display: flex;
}
option
{
    color: black;
}
aside
{
    width: 100%;
    text-align: center;
   
}
.cs1, .cs2
{
    background-color: rgba(127, 164, 166, 0.7);
    border: solid black 5px;
    padding: 3%;
}
.jelzo
{
    background-color: rgba(75, 130, 172, 0.7);
    border: solid black 5px;
    padding: 1%;
    font-size: 40px;
}
.hosszabitas
{
    background-color: rgba(111, 111, 119, 0.7);
    border: solid black 5px;
    padding: 3%;
}
.kiallitasok
{
    padding: 2%;
    background-color: rgba(158, 180, 180, 0.7);
    border: solid black 5px;
}
.adatok
{
    text-align: center;
    text-decoration: underline;
    background-color: rgba(75, 130, 172, 0.7);
    border: solid black 10px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
    padding: 3%;
   
}
input
{
    border-radius: 5%;
    border: solid 5px black;
}
input:hover
{
    background-color: rgb(194, 235, 235);
}
select
{
    border-radius: 5%;
    border: solid 5px black;
}
select:hover
{
    background-color: rgb(194, 235, 235);
}
.indit
{
    border-radius: 5%;
    border: solid 5px black;
    background-color: rgba(141, 220, 146, 0.7);
    font-weight: bold;
}
.indit:hover
{
    background-color: rgb(46, 248, 60);
}
.allj
{
    border-radius: 5%;
    border: solid 5px black;
    background-color: rgba(236, 80, 80, 0.7);
    font-weight: bold;
}
.allj:hover
{
    background-color: rgb(240, 41, 41);
}
.plusz
{
    background-color: green;
    font-weight: bold;
}
.minusz
{
    background-color: red;
    font-weight: bold;
}
.minusz:hover
{
    background-color: rgb(207, 45, 45);
}
.kiallit
{
    background-color: rgb(255, 199, 43);
    font-weight: bold;
}
.kiallit:hover
{
    background-color: rgb(252, 212, 102);
}
.plusz:hover
{
    background-color: rgb(55, 179, 55);
}
.balg
{
    margin-right: 20%;
}
.jobbg
{
    margin-left: 20%;
}
.golsz
{
    margin-left: 2%;
}
.balg, .jobbg
{
    background-color: rgb(255, 255, 255);
    padding: 2%;
    border: solid black 5px;
}
@media screen and (max-width: 480px)
{
    body
    {
        background-color: rgba(62, 104, 195, 0.7);
    }
}
