body
{
    text-align: center;
    font-weight: bold;
}
main
{
    display: flex;
}
option
{
    color: white;
}
aside
{
    width: 50%;
    text-align: center;
}
.kiallitasok
{
    padding: 2%;
    background-color: rgb(193, 193, 193);
    border: solid black 2px;
    border-radius: 5%;
}
.adatok
{
    background-color: rgb(193, 193, 193);
    border: solid black 2px;
    border-radius: 5%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 3%;
}

.adatok
{
    text-align: center;
   
    margin-bottom: 5%;
}
input
{
    border-radius: 5%;
    border: solid 2px black;
}
input:hover
{
    background-color: rgb(193, 193, 193);
}
.indit
{
    border-radius: 5%;
    border: solid 2px black;
    background-color: white;
}
.indit:hover
{
    background-color: rgb(193, 193, 193);
}

.balg
{
    margin-right: 15%;
}
.jobbg
{
    margin-left: 15%;
}
.golsz
{
    margin-left: 2%;
}
.balg, .jobbg
{
    background-color: lightblue;
    padding: 2%;
    border: solid black 2px;
}